<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="cuba-problem-bpm-mssql" transaction-type="RESOURCE_LOCAL">
        <class>com.company.cpbm.entity.Task</class>
    </persistence-unit>
</persistence>
